<div class="container">
    <div class="scroller">
        <div class="inner">

            <!-- {{ if .Site.Params.words }}        -->
            <!-- <ul>                               -->
            <!--     {{ range .Site.Params.words }} -->
            <!--     <span>{{.text}}</span>         -->
            <!--     {{ end }}                      -->
            <!-- </ul>                              -->
            <!-- {{ end }}                          -->

            <span>I'm Miki.</span>
            <span>I like to ouput my feelings with art</span>
            <span>and also to draw it on my canvas.</span>
            <!-- <span>My real goal is to <a class="blue">make</a> <a class="blueb">art</a>.</span> -->
            <span>My goal is to be an <a class="blue">awesome artist</a>.</span>
        </div>
    </div>
</div>
